<div class="about-me-container">
    <div class="image-container">
        <img src="assets/marcel.jpg" alt="Marcel Menke">
    </div>
    <div class="text-container">
        <h3>Wer ich bin</h3>
        <h2>Über mich</h2>
        <p>
            Hallo, mein Name ist Marcel, und ich bin ein deutschsprachiger Frontend-Entwickler aus Steinfeld (Oldenburg).
            Inspiriert von den grenzenlosen Möglichkeiten der IT, bin ich leidenschaftlich daran interessiert,
            optisch ansprechende und intuitive Webseiten zu erstellen.
        </p>
        <p>
            Ich bin vielseitig einsetzbar und arbeite sowohl vor Ort in Steinfeld (Oldenburg) als auch remote effektiv.
            Meine Anpassungsfähigkeit ermöglicht es mir, mich nahtlos in Teams zu integrieren oder unabhängig an Projekten
            zu arbeiten, wobei ich stets klare Kommunikation und einen strukturierten Arbeitsansatz beibehalte.
        </p>
        <p>
            Ich bin offen für neue Ideen und strebe kontinuierlich nach persönlicher Weiterentwicklung.
            Auf der Suche nach spannenden Herausforderungen sehe ich jede Aufgabe als Chance, mein Wissen
            und meine Fähigkeiten auf die nächste Ebene zu heben.
        </p>
    </div>
</div>
